* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
}

ul li {
    list-style: none;
}
.game__information {
    display: flex;
}
.jumbotron-info {
    margin: 5px;
    padding:10px;
    width: 200px;
}
.computer--result {
    margin-right: 5px;
}
.player--result {
    margin-right: 5px;
}
.winner {
    color: red;
}
.score {
    display: flex;
}
.computer-score {
    display: inline-block;
    margin-right: 5px;
}
.player-score {
    display: inline-block;
    margin-right: 5px;
}